/*navbar*/

.dtq{
    background-color: #000000;
}
.nav-link{
    background-color: #000000;
}


.container-fluid {
    background-color: #0d0c0e;
    font-family: 'Courier New', Courier, monospace;
    
}

.lol{
    color: #fff;
    width: 100%;
    font-weight: bolder;

}

.lol:hover{
    color: #db141b;
}

.btn.btn-outline-success {
    --bs-btn-color: #db141b;
    --bs-btn-border-color: #db141b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #db141b;
    --bs-btn-hover-border-color: #db141b;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #db141b;
    --bs-btn-active-border-color: #db141b;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #db141b;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #db141b;
    --bs-gradient: none;
}
/*navbar*/

/*FONDO*/

.fondo{
    background-color: #000000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
}

/*----*/



/*logodragon*/

.dragon-image{
  border: solid 7px rgb(244, 35, 35);
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.img-fluid{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/*----*/


/*titulo*/
.textolinkeable{
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    font-weight: bolder;
    text-align: center;
    padding-top: 30px;
}
/*----*/


/*contenedor*/
.contenedor-contacto{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 20px;

}

.caja{
    border: solid 4px red;
    border-radius: 20px;
    border-spacing: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.caja-imagen{
    width: 100%;
    height: auto;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    border:solid 10px red;
    border-radius: 20px;

}

.image-fluid1{
    width: 300px;
    height: 400px;
}

.fa-solid{
    color:#fff
    padding-top: 7px;
}

.fa-solid:hover{
    color: #db141b;
}

a:active{
    color:#Fff;
}

.text{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 8px;
    padding-top: 6px;
    padding-bottom: 10px;
    
}


/*----*/

/*footer*/
.footer{
    background-color: #000000;
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 20px;
}


.footer1{
    border: solid 4px #db141b;
    border-radius: 20px;
}


.social-media{
    padding-top: 20px;
    padding-bottom: 5px;
}

.fab.fa-facebook-f {
    color: #Fff;
}



.formulario-suscripcion{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: auto;

}


.form-label{
    color: rgb(239, 229, 229);
    border-color: #db141b;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.form-label:hover{
    color: #c7bebe;
    border: solid 4px rgb(25, 23, 23);
}

.btn.btn-danger{
    --bs-btn-color: #fffdfd;
    --bs-btn-border-color: #db141b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1a1818;
    --bs-btn-hover-border-color: #db141b;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1a1818;
    --bs-btn-active-border-color: #1e1b1b;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0a0a0a;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #db141b;
    --bs-gradient: none;
}

.derechos{
    padding-top: 20px;
}


.lmao{
    color: #fff;
}
.form-control{
    font-family: 'Courier New', Courier, monospace;
    
}



.suscribe{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: rgb(23, 22, 22);
}

.fa-solid.fa-heart{
    color:#000000;
}

.fa-solid.fa-heart:hover{
   color:#db141b;
}



.form-control{
    border: solid 5px rgb(236, 228, 228);
}

/*footer*/